In [23]:
import pandas as pd
import sklearn
import matplotlib.pyplot as plt
import seaborn as sns
import streamlit
import numpy as np

In [24]:
data = pd.read_csv('C:/Users/Bitar/Desktop/Training/dataset/student/student-mat.csv',sep=';')
data['school'] = data['school'].str.replace('"', '', regex=False)
split_data = data['school'].str.split(';', expand=True)
# يمكننا تسمية الأعمدة الجديدة إذا أردنا
split_data.columns = [data.columns[i] for i in range(split_data.shape[1])]
print(split_data.info())
# تحويل الأعمدة  إلى نوع العدد الصحيح
split_data['G1'] = pd.to_numeric(split_data['G1'], errors='coerce')
split_data['G3'] = pd.to_numeric(split_data['G3'], errors='coerce')
split_data['freetime'] = pd.to_numeric(split_data['freetime'], errors='coerce')
split_data['failures'] = pd.to_numeric(split_data['failures'], errors='coerce')
print("\n--- Check Missing Values ---")
print(split_data.isnull().sum())

# Add column'pass'
split_data['pass'] = np.where(split_data['G3'] >= 10, 1, 0)
print(split_data.columns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      395 non-null    object
 1   sex         395 non-null    object
 2   age         395 non-null    object
 3   address     395 non-null    object
 4   famsize     395 non-null    object
 5   Pstatus     395 non-null    object
 6   Medu        395 non-null    object
 7   Fedu        395 non-null    object
 8   Mjob        395 non-null    object
 9   Fjob        395 non-null    object
 10  reason      395 non-null    object
 11  guardian    395 non-null    object
 12  traveltime  395 non-null    object
 13  studytime   395 non-null    object
 14  failures    395 non-null    object
 15  schoolsup   395 non-null    object
 16  famsup      395 non-null    object
 17  paid        395 non-null    object
 18  activities  395 non-null    object
 19  nursery     395 non-null    object
 20  higher      395 non-null    object
 21  internet    395 non-null    object
 22  romantic    395 non-null    object
 23  famrel      395 non-null    object
 24  freetime    395 non-null    object
 25  goout       395 non-null    object
 26  Dalc        395 non-null    object
 27  Walc        395 non-null    object
 28  health      395 non-null    object
 29  absences    395 non-null    object
 30  G1          395 non-null    object
 31  G2          395 non-null    object
 32  G3          395 non-null    object
dtypes: object(33)
memory usage: 102.0+ KB
None

--- Check Missing Values ---
school        0
sex           0
age           0
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      0
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
G1            0
G2            0
G3            0
dtype: int64
Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3', 'pass'],
      dtype='object')